<% layout('layouts/user.ejs') -%>

    <body>
        <div class="container mt-4 w-75 shadow p-4 rounded">
            <a href="/listings/<%= listing._id %>/view" class="btn btn-secondary btn-sm mb-2"> <i
                    class="fa-solid fa-arrow-left"></i> Back</a>
            <button class="btn btn-danger btn-sm mb-2 " data-bs-toggle="modal" data-bs-target="#exampleModal"> <i
                    class="fa-solid fa-trash"></i> Delete</button>

            <!-- Delete Modal Dialog -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete this?</h5>
                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                        </div>
                        <div class="modal-body">
                            This action cannot be reverserd. It will permanently remove listing.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i
                                    class="fa-solid fa-xmark"></i> Close</button>
                            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i>
                                    Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <h3>Edit Listing</h3>
            <form action="/listings/addnew" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="title" type="text" class="form-control" id="title" value="<%= listing.title %>"
                        placeholder="Enter title here">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" class="form-control" id="description" rows="3"
                        placeholder="Enter description here"> <%= listing.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="imageURL" class="form-label">Image Link</label>
                    <input name="imageURL" type="text" class="form-control" id="imageURL"
                        value="<%= listing.imageURL %>" placeholder="Enter image link here">
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label for="price" class="form-label">Price (Per Night)</label>
                        <input name="price" type="text" class="form-control" id="price"
                            value="<%= listing.price.toLocaleString('en-IN') %>" placeholder="Enter price here">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="country" class="form-label">Country</label>
                        <input name="country" type="text" class="form-control" id="country"
                            value="<%= listing.country %>" placeholder="Enter country here">
                    </div>
                </div>
                <div class="mb-3 ">
                    <label for="location" class="form-label">Location</label>
                    <input name="location" type="text" class="form-control" id="location"
                        value="<%= listing.location %>" placeholder="Enter location here">
                </div>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-floppy-disk"></i> Save
                    Changes</button>
            </form>
        </div>
    </body>