<% layout('layouts/user.ejs') -%>

    <body>
        <h3>All Listing</h3>
        <div class="d-flex flex-wrap justify-content-evenly">
            <% for (listing of listings) { %>
                <a href="/listings/<%= listing._id %>/view" class="mt-4">
                    <div class="card h-100 shadow-card" style="width: 20rem;">
                        <img src="<%= listing.imageURL %>" class="card_image" alt="listing_image">
                        <div class="card-body">
                            <h6 class="card-title">
                                <%= listing.title %>
                            </h6>
                            <p class="card-text text-truncate">
                                <%= listing.description %>
                            </p>
                            <p class="card-text">
                                &#8360;. <%= listing.price.toLocaleString('en-IN') %> / Night
                            </p>
                            <p class="card-text">
                                <%= listing.location %>, <span class="card-text">
                                        <%= listing.country %>
                                    </span>
                            </p>

                            <p class="card-text">
                                <%= listing.reviews.length %> Reviews
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>

    </body>