<% layout('layouts/user.ejs') -%>

    <style>
        #filters {
            /* background-color: aqua; */
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 2rem;
        }

        .filter {
            text-align: center;
            margin-left: 1.5rem;
            opacity: 0.7;
            cursor: pointer;
        }

        .filter:hover {
            opacity: 1;
        }

        .filter p {
            font-size: 1rem;
            margin: 0;
        }

        .tax-btn {
            border: 1px solid rgb(88, 88, 88);
            padding: 0.5rem;
            border-radius: 0.5rem;
            margin-left: auto;
        }
        .gst {
            display: none;
        }
    </style>

    <body>

        <div id="filters">
            <div class="filter">
                <i class="fa-solid fa-fire fa-lg"></i>
                <p>
                    Trending
                </p>

            </div>
            <div class="filter">
                <i class="fa-solid fa-mountain fa-lg"></i>
                <p>
                    Mountains
                </p>

            </div>
            <div class="filter">
                <i class="fa-solid fa-umbrella-beach fa-lg"></i>
                <p>
                    Beach
                </p>
            </div>

            <div class="filter">
                <i class="fa-solid fa-igloo fa-lg"></i>
                <p>
                    Cave
                </p>

            </div>
            <div class="filter">
                <i class="fa-brands fa-fort-awesome fa-lg"></i>
                <p>
                    Fort
                </p>
            </div>
            <div class="filter">
                <i class="fa-regular fa-snowflake fa-lg"></i>
                <p>
                    Snow
                </p>

            </div>
            <div class="filter">
                <i class="fa-solid fa-tower-observation"></i>
                <p>
                    Tower
                </p>
            </div>
            <div class="filter">
                <i class="fa-solid fa-palette"></i>
                <p>
                    Painting Club
                </p>
            </div>
            <div class="tax-btn">
                <div class="form-check form-switch form-check-reverse" id="tax-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                    <label class="form-check-label" for="flexSwitchCheckReverse">Display total with taxes</label>
                </div>
            </div>

        </div>
        <!-- <h3>All Listing</h3> -->
        <div class="d-flex flex-wrap justify-content-evenly">
            <% for (listing of listings) { %>
                <a href="/listings/<%= listing._id %>/view" class="mt-4">
                    <div class="card h-100 shadow-card" style="width: 20rem;">
                        <img src="<%= listing.image.url%>" class="card_image" alt="listing_image">
                        <div class="card-body">
                            <h6 class="card-title">
                                <%= listing.title %>
                            </h6>
                            <p class="card-text text-truncate">
                                <%= listing.description %>
                            </p>
                            <p class="card-text">
                                &#8360;. <%= listing.price.toLocaleString('en-IN') %> <span class="gst">
                                        + 18% GST
                                    </span>/ Night
                            </p>
                            <p class="card-text">
                                <%= listing.location %>, <span class="card-text">
                                        <%= listing.country %>
                                    </span>
                            </p>

                            <p class="card-text">
                                <%= listing.reviews.length %> Reviews
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>

        <script>
            let tax_switch = document.getElementById('tax-switch');
            // console.log('tax switch', tax_switch);

            tax_switch.addEventListener('click', () => {
                let items = document.getElementsByClassName('gst');

                for (item of items) {
                    if (item.style.display != 'inline') {
                        item.style.display = 'inline';
                    }
                    else {
                        // console.log('Item wit GST Class :: ', item);
                        item.style.display = 'none';

                    }

                }
            })


        </script>

    </body>