<% layout('layouts/user.ejs')-%>

    <body>
        <a href="/listings" class="btn btn-secondary btn-sm mt-3"> <i class="fa-solid fa-arrow-left"></i> Back</a>
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary btn-sm mt-3"> <i class="fa-solid fa-pen-to-square"></i>  Edit</a>
        <div class="card mt-3 w-75 border border-0">
            <h5 class="card-title">
                <%= listing.title%>
            </h5>
            <img src="<%= listing.imageURL%>" class="card-img-top rounded" style="height: 450px;" alt="listing_image">
            <div class="card-body">
                <p class="card-text">
                    <%= listing.description %>
                </p>
                <p class="card-text m-0">
                    &#8360;. <%= listing.price.toLocaleString('en-IN') %> / Night
                </p>
                <p class="card-text m-0">
                    <%= listing.location %>,
                        <%= listing.country %>
                </p>
            </div>
        </div>
    </body>